@media (min-width: 1200px) {
  .container {
    width: 950px;
  }
}

body {
  padding: 0;
  font: 13pt "Open Sans", "Liberation sans", "Noto sans", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
}

main {
  flex: 1;
}

hr {
  border-top: 1px solid #000;
}

h1 {
  font-size: 2.6em;
  margin-bottom: 0;
}

h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}
h2.orcid {
  margin-top: 1.2em;
  margin-bottom: 0em;
}

h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}
h3.short {
  color: #eee;
  margin-bottom: 0;
  margin-top: 0.6em;
  font-size: 1.3em;
}

a {
  color: #333333;
}

a.external {
  color: #00B7FF;
  text-decoration: none;
}
a.external:hover {
  color: #00B7FF;
  text-decoration: underline;
}

.main-text p {
  margin-bottom: 0.8em;
}

.orcid-text {
  color: #666;
  font-size: 0.8em;
  margin-left: 1em;
}

.orcid-box {
  margin-top: 3em;
  margin-bottom: 3em;
}

.toggle-text {
  color: #666;
  font-size: 0.9em;
}

.no-margin {
  margin: 0;
}

.user-list {
  font-size: 0.8em;
  margin-left: 2em;
  margin-right: 0;
  margin-bottom: 2em;
  padding: 0;
  margin-top: 0;
}

.toggle-signatories {
  margin-bottom: 2em;
}

.campaign-list {
  font-size: 0.9em;
  margin-bottom: 4em;
  margin-top: 0em;
}
p.campaign-entries {
  margin-left: 1em;
  margin-bottom: 0.5em;
  margin-top: 0;
}
.sign {
  margin-top: 5em;
  margin-bottom: 8em;
}
.remove {
  margin-top: 4em;
  margin-bottom: 8em;
}

.form-choice-margin {
  font-size: 0.9em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.thank-you-text {
  margin-top: 4em
}

.return-to-signatories {
  margin-top: 2em;
  margin-bottom: 4em;
}

.extra-margin {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.extra-margin-bottom {
  margin-bottom: 1.2em;
}
.extra-margin-top {
  margin-top: 1.2em;
}

.extra-margin-half {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.center {
  text-align: center;
}

.action_text a {
  color: #00B7FF;
  text-decoration: none;
}
.action_text a:hover {
  color: #00B7FF;
  text-decoration: underline;
}

.header{
  background-color: #002c40;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2em;
  padding-bottom: 3em;
}
.header a {
  color: white;
    text-decoration: none;
}
.header a:hover {
  color: white;
    text-decoration: underline;
}

.footer {
  margin-top: auto;
  background-color: #666;
  color: white;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2em;
  padding-bottom: 3em;
}
.footer a {
  color: white;
    text-decoration: none;
}
.footer a:hover {
  color: white;
    text-decoration: underline;
}

.footer-small {
  font-size: 0.9em;
}

p.social {
  margin-top: 1.2em;
}
.social i {
  margin-right: 0.5em;
}
