@media (min-width: 1200px) {
  .container {
    width: 950px;
  }
}

body {
  padding: 0;
  font: 13pt "Open Sans", "Liberation sans", "Noto sans", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
}

main {
  flex: 1;
}

hr {
  border-top: 1px solid #000;
}

h1 {
  font-size: 2.6em;
  margin-bottom: 0;
}

h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}
h2.orcid {
  margin-top: 1.2em;
  margin-bottom: 0em;
}

h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}
h3.short {
  color: #eee;
  margin-bottom: 0;
  margin-top: 0.6em;
  font-size: 1.3em;
}
h4.orcid {
  margin-top: 0.5em;

}
h4 {
  margin-bottom: 0.5em;
  margin-top: 0em;
}

a {
  color: #333333;
}

a.external {
  color: #0099BB;
  text-decoration: none;
}
a.external:hover {
  color: #0099BB;
  text-decoration: underline;
}

div.main-text {
  margin-bottom: 4em;
}
.main-text p {
  margin-bottom: 0.8em;
}

.orcid-text {
  color: #666;
  font-size: 0.8em;
  margin-left: 1em;
}

.orcid-box {
  margin-top: 3em;
  margin-bottom: 3em;
}

.toggle-text {
  color: #666;
  font-size: 0.9em;
}

.no-margin {
  margin: 0;
}
.no-margin-bottom {
  margin-bottom: 0em;
}
.no-padding {
  padding: 0;
}

.user-list {
  font-size: 0.8em;
  margin-left: 1em;
  margin-right: 0;
  margin-bottom: 3em;
  padding: 0;
  margin-top: 0;
}
.user-list#show-admins {
  margin-bottom: 0em;
}

.toggle-signatories {
  margin-bottom: 2em;
}

.campaign-list {
  font-size: 0.9em;
  margin-bottom: 4em;
  margin-top: 0em;
}
p.campaign-entries {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0;
}
.sign {
  margin-top: 5em;
  margin-bottom: 8em;
}
.remove {
  margin-top: 4em;
  margin-bottom: 8em;
}

.admin-top {
  margin-top: 4em;
  margin-bottom: 5em;
}
.admin-middle {
  margin-top: 0em;
  margin-bottom: 3em;
}
.admin-bottom {
  margin-top: 0em;
  margin-bottom: 4em;
}

.edit-top {
  margin-top: 4em;
  margin-bottom: 3em;
}
.edit-middle {
  margin-top: 0em;
  margin-bottom: 3em;
}
.edit-bottom {
  margin-top: 0em;
  margin-bottom: 4em;
}

.create-item-top {
  margin-top: 2em;
  margin-bottom: 2em;
}
.create-item-middle {
  margin-top: 2em;
  margin-bottom: 0em;
}
.create-item-bottom {
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-choice-margin {
  font-size: 0.9em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.text-no-header {
  margin-top: 3em
}

.return-to-signatories {
  margin-top: 2em;
  margin-bottom: 4em;
}

.extra-margin {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.extra-margin-bottom {
  margin-bottom: 1.2em;
}
.extra-margin-top {
  margin-top: 1.2em;
}

.extra-margin-half {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.center {
  text-align: center;
}

.action_text a {
  color: #0099BB;
  text-decoration: none;
}
.action_text a:hover {
  color: #0099BB;
  text-decoration: underline;
}

.header{
  background-color: #002c40;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2em;
  padding-bottom: 3em;
}
.header a {
  color: white;
    text-decoration: none;
}
.header a:hover {
  color: white;
    text-decoration: underline;
}

.footer {
  margin-top: auto;
  background-color: #666;
  color: white;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2.5em;
  padding-bottom: 3em;
}
.footer a {
  color: white;
    text-decoration: none;
}
.footer a:hover {
  color: white;
    text-decoration: underline;
}

.footer-small {
  font-size: 0.9em;
  margin-bottom: 0.3em;
}

.social {
  margin-top: 1em;
  margin-bottom: 0.3em;
}
.social i {
  margin-right: 0.5em;
}

div.action {
  border: 1px solid #999;
  border-radius: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
}
