@media (min-width: 1200px) {
  .container {
    width: 950px;
  }
}
@media(max-width: 700px) {
  td {
    display: table-row;
  }
}

body {
  padding: 0;
  font: 13pt "Open Sans", "Liberation sans", "Noto sans", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
}

header {
  background-color: #004666;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2em;
  padding-bottom: 3em;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: white;
  text-decoration: underline;
}

footer {
  margin-top: auto;
  background-color: #666;
  color: white;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2.5em;
  padding-bottom: 3em;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: white;
  text-decoration: underline;
}
footer .footer-small {
  font-size: 0.9em;
  margin-bottom: 0.3em;
}
footer .social {
  margin-top: 1em;
  margin-bottom: 0.3em;
}
footer .social i {
  margin-right: 0.5em;
}

main {
  flex: 1;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
main a {
  color: #007799;
  text-decoration: none;
}
main a:hover {
  color: #007799;
  text-decoration: underline;
}
main p {
  margin-bottom: 0.8em;
}
main .campaign-list {
  font-size: 0.9em;
  margin-bottom: 4em;
  margin-top: 0em;
}
main p.campaign-entries {
  margin-left: 0em;
  margin-bottom: 0.5em;
  margin-top: 0;
}
main .orcid-text {
  color: #666;
  font-size: 0.8em;
  margin-left: 1.2em;
}
main .orcid-text-sidebar {
  color: #666;
  font-size: 0.7em;
  margin-left: 0em;
  line-height: 1.4em;
}
main .sidebar-text {
  margin-top: 3em;
  font-size: 0.8em;
  line-height: 1em;
  padding-bottom: 1.5em;
}
main .link {
  color: #007799;
  text-decoration: none;
}
main .link:hover {
  color: #007799;
  text-decoration: underline;
}
main .orcid-box {
  margin-top: 3em;
  margin-bottom: 3em;
}
main .user-list {
  font-size: 0.8em;
  margin-left: 1em;
  margin-right: 0;
  margin-bottom: 0em;
  padding: 0;
  margin-top: 0;
}
main .user-row {
  line-height: 1.4em;
  padding-bottom: 0.4em;
}
main a.user-name {
  font-weight: bold;
  color: #444444;
}
main a.user-name:hover {
  font-weight: bold;
  color: #444444;
  text-decoratoon: underline;
}
main table {
  margin-bottom: 3.5em;
}
main .margin-bottom {
  margin-bottom: 4em;
}
main .margin-section {
  margin-bottom: 3em;
}
main .create-item {
  margin-top: 2em;
  margin-bottom: 0em;
}
main .form-choice {
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}
main .return-to-signatories {
  margin-top: 2em;
}
main .sign {
  margin-top: 5em;
}
main .remove {
  margin-top: 4em;
}
main .margin-before-content {
  margin-top: 4em;
}
main .extra-margin {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
main .extra-margin-top {
  margin-top: 1.2em;
  margin-bottom: 0em;
}
main .nav-links a {
  color: white;
  text-decoration: none;
}
main .nav-links a:hover {
  color: white;
  text-decoration: none;
}
main .admin-list {
  margin-top: 2.5em;
  margin-bottom: 0em;
  font-size: 0.9em;
}

hr {
  border-top: 1px solid #000;
}

h1 {
  font-size: 2.6em;
  margin-bottom: 0;
}
h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}
h2.orcid {
  padding-top: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}
h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}
h3.short {
  color: #eee;
  margin-bottom: 0;
  margin-top: 0.6em;
  font-size: 1.3em;
}
h4 {
  margin-bottom: 0.5em;
  margin-top: 0em;
}
h4.orcid {
  margin-top: 0.5em;
}
