{% extends "base.html" %}

{% block title %}{{ action_kind | capitalize | safe }} - {{ header_title | safe }}{% endblock %}

{% block nav %}
  {% include "nav-admin.html" %}
{% endblock %}

{% block content %}

<div class="extra-margin">
    <h3><b>{{ text_header | safe }}</b></h3>
</div>

<div class="extra-margin action-text">
    {{ action_text | safe }}
</div>

{% if is_active is true %}
<div class="orcid-box">
  <p><a class="btn btn-default btn-lg" href="{{ authorization_uri }}"><img src="{{ url_for('static', filename='img/orcid.svg') }}" style="width: 1.2em; margin-right: 0.6em;" />Sign the {{ action_kind | lower }}</a> <span class="orcid-text">Authenticate with your <a href="https://orcid.org" target="_blank" class="external">ORCID</a> account to sign.</span>
  </p>
</div>
{% else %}
<div class="alert alert-warning alert-dismissable" role="alert">
    This campaign is closed and is not accepting further signatures.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<p>
  Created: {{ action_created.date() }}
  {% if action_closed is not none %}
  <br />Closed: {{ action_closed.date() }}
  {% endif %}
</p>
<p>
  Allow anonymous: {% if allow_anonymous is true %}Yes{% else %}No{% endif %}
</p>

<div>
    <p>Total signatories: {{ total_signatures }}</p>
</div>

<form action="{{ download_uri }}" method="POST" id="download-ods">
    <p style="margin-bottom: 2em;"><button type="submit" name="mode" value="download-ods" class="btn btn-link" style="padding: 0;">Download signatories</button></p>
</form>

<div class="user-list">
    {% for result in visible_signatures %}
    <div class="row">
        <div class="col-md-2" style="padding-left: 0;">
            <a href="{{ orcid_url }}{{ result.orcid }}" target="_blank" ><span style="font-weight: bold">{{ result.name | safe }}</span></a>
        </div>
        <div class="col-md-10">
            {{ result.affiliation | safe }}
        </div>

    </div>
    {% endfor %}
    {% if anonymous_signatures > 0 %}
    <div class="row extra-margin">
        <div class="col-md-12">
            Anonymous signatories with ORCID accounts: {{ anonymous_signatures }}
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}
