{% extends "base.html" %}

{% block title %}{{ action_kind | capitalize | safe }} - {{ header_title | safe }}{% endblock %}

{% block nav %}
  {% include "nav-admin.html" %}
{% endblock %}

{% block content %}

<div class="extra-margin">
  <h3><b>{{ text_header | safe }}</b></h3>
</div>

<table>
  <tr>
    <td style="vertical-align: top; padding-top: 0.8em;">
      <div class="action-text" style="margin-bottom: 2em;">
        {{ action_text | safe }}
      </div>

    </td>

    <td style="padding-left: 3em; vertical-align: top; padding-top: 1.1em;">
      {% if is_active is true %}
      <p><a class="btn btn-default btn-md" href="{{ authorization_uri }}"><img src="{{ url_for('static', filename='img/orcid.svg') }}" style="width: 1.2em; margin-right: 0.6em;" />Sign the {{ action_kind | title }}</a>
      </p>
      <p class="orcid-text-sidebar">Authenticate with your <a href="https://orcid.org" target="_blank" class="external">ORCID</a> account to sign.</p>
      {% else %}
      <div class="alert alert-warning">
        This campaign is closed and is not accepting further signatures.
      </div>
      {% endif %}

      <div class="sidebar-text" style="padding-bottom: 1.5em;">
        <p>
          Created: {{ action_created.date() }}
        </p>
        <p>
          {% if action_closed is not none %}
          Closed: {{ action_closed.date() }}
          {% endif %}
        </p>
        <p>
          Allow anonymous: {% if allow_anonymous is true %}Yes{% else %}No{% endif %}
        </p>

        <form action="{{ download_uri }}" method="POST" id="download-ods">
            <p><button type="submit" name="mode" value="download-ods" class="btn btn-link" style="padding:0; border: 0;">Download signatories</button></p>
        </form>
        <p>
          Total signatories: {{ total_signatures }}
        </p>
      </div>

    </td>
  </tr>

  <tr>
    <td>
      <div class="user-list">
          {% for result in visible_signatures %}
          <div class="row user-row">
              <div class="col-md-3" style="padding-left: 0;">
                  <a href="{{ orcid_url }}{{ result.orcid }}" target="_blank" ><span style="font-weight: bold">{{ result.name }}</span></a>
              </div>
              <div class="col-md-9">
                  {{ result.affiliation }}
              </div>
          </div>
          {% endfor %}

          {% if anonymous_signatures > 0 %}
          <div class="row extra-margin">
              <div class="col-md-12" style="padding-left: 0;">
                  Anonymous signatories with ORCID accounts: {{ anonymous_signatures }}
              </div>
          </div>
          {% endif %}

      </div>
    </td>
    <td></td>
  </tr>
</table>

{% endblock %}
