{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}Signatories - Editor page{% endblock %}

{% block nav %}
  {% include "nav-admin.html" %}
{% endblock %}

{% block alert %}

{% if alert.info is not none %}
<div class="alert alert-info alert-dismissable" role="alert">
    {{ alert.info }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.success is not none %}
<div class="alert alert-success alert-dismissable" role="alert">
    {{ alert.success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.warning is not none %}
<div class="alert alert-warning alert-dismissable" role="alert">
    {{ alert.warning }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.danger is not none %}
<div class="alert alert-danger alert-dismissable" role="alert">
    {{ alert.danger }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% endblock %}

{% block content %}

<div class="admin-top">
    <p>
      To edit or delete a campaign, click on the campaign name. To view a campaign, click on <i class="bi bi-eye"></i> (open campaigns) or <i class="bi bi-eye-slash"></i> (closed campaigns).
    </p>
    <h3>My campaigns</h3>

    <div class="campaign-list">
        {% for name, desc in my_campaigns.items() %}
        <p class="campaign-entries">
            <a href="/{{ name }}"><i class="bi {% if desc[3] %}bi-eye{% else %}bi-eye-slash{% endif %}" style="margin-right: 1.2em;"></i></a><a href="{{ desc[2] }}/edit"><span style="font-weight: bold">{{ desc[0] | safe }}</span> — {{ desc[1] | safe }}</a>
        </p>
        {% endfor %}
        {% if my_campaigns.items()|length == 0 %}
        <p class="campaign-entries">None</p>
        {% endif %}
    </div>

    {% if role_id == 3 %}
    <h3>All campaigns</h3>

    <div class="campaign-list">
        {% for name, desc in all_campaigns.items() %}
        <p class="campaign-entries">
            <a href="/{{ name }}"><i class="bi {% if desc[3] %}bi-eye{% else %}bi-eye-slash{% endif %}" style="margin-right: 1.2em;"></i></a><a href="{{ desc[2] }}/edit"><span style="font-weight: bold">{{ desc[0] | safe }}</span> — {{ desc[1] | safe }}</a>
        </p>
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock %}
