{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}Editor{% endblock %}

{% block nav %}
  {% include "nav-admin.html" %}
{% endblock %}

{% block alert %}

{% if alert.success is not none %}
<div class="alert alert-success alert-dismissable" role="alert">
    {{ alert.success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.warning is not none %}
<div class="alert alert-warning alert-dismissable" role="alert">
    {{ alert.warning }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if alert.danger is not none %}
<div class="alert alert-danger alert-dismissable" role="alert">
    {{ alert.danger }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% endblock %}
{% block content %}

<div class="admin-top">
    <p>
      Click on a campaign name to edit or delete the campaign. Click on <i class="bi bi-eye-fill"></i> to view the campaign.
    </p>
    <h3>My campaigns</h3>

    <div class="campaign-list">
        {% for name, desc in my_campaigns.items() %}
        <p class="campaign-entries">
            <a href="/{{ name }}"><i class="bi bi-eye-fill" style="margin-right: 1em;"></i></a><a href="/{{ name }}/edit"><span style="font-weight: bold">{{ desc[0] }}</span></a> — {{ desc[1] }}
        </p>
        {% endfor %}
    </div>

    {% if role_id == 3 %}
    <h3>All campaigns</h3>

    <div class="campaign-list">
        {% for name, desc in all_campaigns.items() %}
        <p class="campaign-entries">
            <a href="/{{ name }}"><i class="bi bi-eye-fill" style="margin-right: 1em;"></i></a><a href="/{{ name }}/edit"><span style="font-weight: bold">{{ desc[0] }}</span></a> — {{ desc[1] }}
        </p>
        {% endfor %}
    </div>
    {% endif %}

</div>





{% endblock %}
