{% extends "base.html" %}
{% block title %}Signatories{% endblock %}
{% block content %}
    <!-- Introduction -->
    <div class="extra-margin">
        <h3> {{ action_kind | upper }}</h3>
    </div>

    <div class="extra-margin action_text">
      <p>
      <u>Signatories</u> is a simple web-based program that allows a person to sign
      an online petition, a declaration, a statement, or any form of communication
      that requires community support. Designed for academics, signing is accomplished
      by authenticating with an account at <a href="https://orcid.org" target="_blank">ORCID</a>.
      </p>
      <p>
      Campaigns may decide to allow for anonymous signatures. Signatories may choose to add
      their professional affiliation, and after signing, they can modify their
      preferences or remove their signature altogether. When the signatory's
      name is visible, any user may click on it to inspect their ORCID profile.
      </p>
      <p>
      By requiring an account at ORCID to sign, not only are bogus signatures
      avoided, but this helps to limit participants to the academic community. An
      ORCID account may sign at most once, and anonymous participants are assured to
      have an ORCID account.
      </p>
      <p>
      To start a new campaign, create a file like
      <a href="https://github.com/planetary-research/signatories/blob/main/campaigns/demo.toml" target="_blank">this</a>
      and send it to the administrator. We will soon be implementing editor controls
      that will allow you to create your own campaigns directly.
      </p>
    </div>


    <div>
        <h3>LIST OF CAMPAIGNS</h3>
    </div>

    <div class="campaign-list">
        {% for name, desc in campaigns.items() %}
        <p class="campaign-entries">
            <a href="/{{ name }}"><span style="font-weight: bold">{{ desc[0] }}</span></a> — {{ desc[1] }}
        </p>
        {% endfor %}
    </div>


{% endblock %}
