{% if role_id > 1 %}
<div class="row nav nav-links">
    <div class="col-md-12">
        <a class="btn btn-{% if page == 'home' %}success{% else %}primary{% endif %} btn-sm" href="{{ home_uri }}">Home</a>
      {% if role_id >= 2%}
      <a class="btn btn-{% if page == 'create' %}success{% else %}primary{% endif %} btn-sm" href="{{ create_uri }}">Create</a>
      <a class="btn btn-{% if page == 'editor' %}success{% else %}primary{% endif %} btn-sm" href="{{ editor_uri }}">Edit/Delete</a>
      {% endif %}
      {% if role_id >= 3%}
      <a class="btn btn-{% if page == 'admin' %}success{% else %}primary{% endif %} btn-sm" href="{{ admin_uri }}">Admin</a>
      {% endif %}
      <a class="btn btn-primary btn-sm" href="{{ logout_uri }}">Log out</a>
    </div>
</div>
{% endif %}
