{% extends "base.html" %}

{% block title %}Signatories - Privacy policy{% endblock %}

{% block nav %}
  {% include "nav-admin.html" %}
{% endblock %}

{% block content %}

<div class="main-text">
    <h3>PRIVACY POLICY</h3>
    <p>
        When a campaign is signed by a user, this application will store the
        signer's ORCID, full name, and professional affiliation (if provided).
        For each signed campaign, the application will also store the campaign
        name, and whether the user's signature is public or anonymous.
    </p>
    <p>
        When an action is siged publically, all information that is stored in the
        signatory database is available on the public facing website. No other
        information (such as IP addresses) is stored. Anonymous signatories are stored
        in the same database as public signatories. The only people who can
        access this databse are the system administrators, and they will never
        share this database with others.
    </p>
    <p>
        When a user signs in via ORCID, a cookie will be stored on their
        computer that will be used to identify the user and to enable the
        basic website functionalities. This cookie will expire after two hours
        or when the user logs out.
    </p>

</div>

{% endblock %}
