{% extends "base.html" %}

{% block title %}Privacy policy{% endblock %}

{% block nav %}
  {% include "nav-admin.html" %}
{% endblock %}

{% block content %}

<div class="main-text">
    <h2>Privacy policy</h2>
    <p>
        This application will store a user's ORCID iD, their full name, and optionally,
        their professional affiliation. Users can choose to delete all personal information
        at any time.
    </p>
    <p>
        When a user logs in, a session is created and stored in a cookie.
        This cookie is used only to identify the user and to enable the basic
        website functionalities. This cookie will be automatically removed when
        the user logs out, or after a predefined period of time.
    </p>
</div>

{% endblock %}
