{% extends "base.html" %}

{% block title %}Signing successful{% endblock %}

{% block nav %}
  {% include "nav-admin.html" %}
{% endblock %}

{% block content %}

<div class="text-no-header main-text">
    <p>
    Your are now included in the list of signatories.
    </p>
    <p>
    If you would like to modify your signing preferences, it is only necessary to sign the {{ action_kind | lower }} again and apply the changes.
    </p>
    <p>
    If you would like to remove your name from this {{ action_kind | lower }}, please choose to sign again: you will be given the option to remove your signature and delete all personal data.
    </p>
    <div class="return-to-signatories">
        <a class="btn btn-primary btn-md" href="{{ action_path }}">View the list of signatories</a>
    </div>
</div>

{% endblock %}
